[general] # global settings (not in use)

[find_flank] # filter fastq files to find insertion site flanking sequence

  ## [default: illumina paired end]
  # nano = True

  # fwdrev = _R1_,_R2_

  ## use Levenshtein distance (combined sub/insert/del score) OR set sub/insert/del separately
  ## lev overrides sub/insert/del (currently settings for nano are hardcoded)
  lev = 0
  sub = 1
  insert = 0
  del = 0

  ## directory containing input fastq files default=os.getcwd()
  # in_dir = 

  ## result directory default=(['pimms2_' + time.strftime("%Y%m%d_%H%M%S")])
  # out_dir =  

  ## min read length / clip reads to max (currently settings for nano are hardcoded)
  min = 25
  max = 50

  ## IS ends reference motifs
  motif1 = TCAGAAAACTTTGCAACAGAACC
  motif2 = GGTTCTGTTGCAAAGTTTAAAAA

  # fasta = suis.p17.fasta

  # cpus = 6

[bam_extract]
  # bam =

  # gff = suis.p17.gff3

  ## comma separated extra GFF3 annotation fields e.g 'note,translation'
  # gff_extra = 'note'
  min_depth = 3
  
  ## mismatch as fraction of bases (needs further testing use with caution)
  # mismatch = 0.05

  # force_gff = True

  # noreps = True

